<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fhf.activity_manage.mapper.ActivityRecordMapper">
  <resultMap id="BaseResultMap" type="com.fhf.activity_manage.model.entity.ActivityRecord">
    <!--@mbg.generated-->
    <!--@Table activity_record-->
    <id column="record_id" jdbcType="BIGINT" property="recordId" />
    <result column="participant" jdbcType="BIGINT" property="participant" />
    <result column="belong_activity" jdbcType="BIGINT" property="belongActivity" />
    <result column="time" jdbcType="FLOAT" property="time" />
    <result column="evaluation" jdbcType="VARCHAR" property="evaluation" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="appraiser" jdbcType="BIGINT" property="appraiser" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    record_id, participant, belong_activity, `time`, evaluation, score, appraiser, note, 
    `status`
  </sql>

  <select id="getAllParticipation" resultType="com.fhf.activity_manage.model.DTO.ParticipationDto" parameterType="Long">
    SELECT activity_record.record_id as recordId , u.name as userName,status
    FROM activity_record left join user u on u.id = activity_record.participant
    where activity_record.belong_activity = #{publishActivityId}
  </select>

  <select id="getHistory" resultType="com.fhf.activity_manage.model.DTO.ActivityRecordQueryResult" parameterType="com.fhf.activity_manage.model.DTO.ActivityRecordQuery">
    SELECT va.name as name,va.category as category,va.site as site,va.description as description,activity_record.time as time ,
    activity_record.evaluation as evaluation,score,u.name as appraiser,activity_record.note,activity_record.status
    from activity_record
    left join published_activity pa on pa.publish_id = activity_record.belong_activity
    left join volunteer_activity va on pa.belong_to = va.activity_id
    left join user u on activity_record.appraiser = u.id

    where activity_record.status > -1
    <if test="name!=null and name!=''">
      and va.name like concat('%',#{name},'%')
    </if >
    <if test="category!=null and category!=''">
      and va.category like concat('%',#{category},'%')
    </if >
    <if test="startTime!=null">
      and pa.start_time &gt;= #{startTime}
    </if >
    <if test="endTime!=null">
      and pa.endTime &lt;= #{endTime}
    </if >

  </select>
</mapper>