<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fhf.activity_manage.mapper.PublishedActivityMapper">
  <resultMap id="BaseResultMap" type="com.fhf.activity_manage.model.entity.PublishedActivity">
    <!--@mbg.generated-->
    <!--@Table published_activity-->
    <id column="publish_id" jdbcType="BIGINT" property="publishId" />
    <result column="belong_to" jdbcType="BIGINT" property="belongTo" />
    <result column="publisher" jdbcType="BIGINT" property="publisher" />
    <result column="charge_by" jdbcType="BIGINT" property="chargeBy" />
    <result column="start_time" jdbcType="DATE" property="startTime" />
    <result column="endTime" jdbcType="DATE" property="endtime" />
    <result column="apply_end_time" jdbcType="DATE" property="applyEndTime" />
    <result column="signup_number" jdbcType="INTEGER" property="signupNumber" />
    <result column="plan_number" jdbcType="INTEGER" property="planNumber" />
    <result column="qq_group" jdbcType="VARCHAR" property="qqGroup" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    publish_id, belong_to, publisher, charge_by, start_time, endTime, apply_end_time, 
    signup_number, plan_number, qq_group, note, status
  </sql>
  <select id="countPublishRecord" parameterType="java.lang.Long" resultType="java.lang.Integer">
    SELECT count(*)
    FROM published_activity
    where belong_to = #{id}
  </select>

  <select id="queryPublishActivity" parameterType="com.fhf.activity_manage.model.entity.PublishedActivity" resultType="com.fhf.activity_manage.model.DTO.PublishActivityQueryResult">
    SELECT publish_id as publishId,name as name,category,belong_to as belongto,charge_by as chargeby,start_time as starttime,endTime as endtime,
            apply_end_time as applyendtime,signup_number as signupnumber,va.plan_number as plannumber,qq_group as qqgroup,
            published_activity.note as note,publisher,`require`,site,duration,description,activity_id as activityId,status
    from published_activity
    left join volunteer_activity va on va.activity_id = published_activity.belong_to
    where status > -1
    <if test="name!=null and name!=''">
     and name like concat('%',#{name},'%')
    </if >
    <if test="category!=null and category!=''">
       and category like concat('%',#{category},'%')
    </if >
    <if test="startTime!=null">
      and start_time &gt;= #{startTime}
    </if >
    <if test="endTime!=null">
      and endTime &lt;= #{endTime}
    </if >
    <if test="isEnd == 1">
      and apply_end_time  &lt; NOW()
    </if >
    <if test="userId != null">
    and publish_id not in (SELECT apply_for from activity_apply where apply_by = #{userId})
    </if>
  </select>

  <update id="updateSignupNumber" parameterType="Long">
    update published_activity set signup_number = signup_number + 1 where publish_id = #{id}
  </update>
</mapper>