<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fhf.system_manage.mapper.NoticeMapper">
  <resultMap id="BaseResultMap" type="com.fhf.system_manage.model.entity.Notice">
    <!--@mbg.generated-->
    <!--@Table testdatabase.notice-->
    <id column="notice_id" jdbcType="BIGINT" property="noticeId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="publish_time" jdbcType="DATE" property="publishTime" />
    <result column="publish_by" jdbcType="BIGINT" property="publishBy" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    notice_id, `type`, title, content, publish_time, publish_by
  </sql>
</mapper>