<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fhf.system_manage.mapper.ResourceMapper">
  <resultMap id="BaseResultMap" type="com.fhf.system_manage.model.entity.Resource">
    <!--@mbg.generated-->
    <!--@Table testdatabase.`resource`-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="resource_type" jdbcType="TINYINT" property="resourceType" />
    <result column="open_img" jdbcType="VARCHAR" property="openImg" />
    <result column="close_img" jdbcType="VARCHAR" property="closeImg" />
    <result column="leaf" jdbcType="TINYINT" property="leaf" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="" jdbcType="TINYINT" property="status" />
    <result column="component" jdbcType="VARCHAR" property="component"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, code, parent_id, url, resource_type, open_img, close_img, leaf, remark, 
    `status`,component
  </sql>

  <select id="getAllRoles" resultType="java.lang.Long" parameterType="java.lang.Long">
    SELECT rr.role_id FROM resource
    LEFT JOIN role_resource rr on resource.id = rr.res_id
    WHERE id = #{id}
  </select>
</mapper>