<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fhf.system_manage.mapper.RoleResourceMapper">
  <resultMap id="BaseResultMap" type="com.fhf.system_manage.model.entity.RoleResource">
    <!--@mbg.generated-->
    <!--@Table testdatabase.role_resource-->
    <id column="role_id" jdbcType="BIGINT" property="roleId" />
    <id column="res_id" jdbcType="BIGINT" property="resId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    role_id, res_id
  </sql>
</mapper>