<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fhf.system_manage.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.fhf.system_manage.model.entity.User">
    <!--@mbg.generated-->
    <!--@Table testdatabase.`user`-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="profile_picture" jdbcType="VARCHAR" property="profilePicture" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="other" jdbcType="VARCHAR" property="other" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `password`, `name`, profile_picture, sex, birthday, tel, email, other, remark
  </sql>

  <select id="getAllUser" parameterType="com.fhf.system_manage.model.dto.UserQueryDto" resultType="com.fhf.system_manage.model.dto.UserQueryResultDto">
    SELECT user.id,r.name as role,password,user.name,user.profile_picture as profilePicture,
    user.birthday,user.email,user.other,
    user.sex,user.tel,user.remark
    FROM user
    LEFT OUTER JOIN  user_role ur ON user.id = ur.id
    LEFT OUTER JOIN role r on ur.r_id = r.id
    WHERE user.id &gt; -1
    <if test="id != null">
      AND user.id = #{id}
    </if>
    <if test="name != null">
      AND user.name LIKE concat('%',#{name},'%')
    </if>
    <if test="role != null">
      AND r.id = #{role}
    </if>

  </select>
</mapper>