<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fhf.system_manage.mapper.UserOnlineInfoMapper">
  <resultMap id="BaseResultMap" type="com.fhf.system_manage.model.entity.UserOnlineInfo">
    <!--@mbg.generated-->
    <!--@Table testdatabase.user_online_info-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="u_id" jdbcType="BIGINT" property="uId" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="online_time" jdbcType="TIMESTAMP" property="onlineTime" />
    <result column="offline_time" jdbcType="TIMESTAMP" property="offlineTime" />
    <result column="stop_time" jdbcType="INTEGER" property="stopTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, u_id, ip, online_time, offline_time, stop_time, `status`
  </sql>
</mapper>