<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fhf.system_manage.mapper.VolunteerMapper">
  <resultMap id="BaseResultMap" type="com.fhf.system_manage.model.entity.Volunteer">
    <!--@mbg.generated-->
    <!--@Table testdatabase.volunteer-->
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="student_id" jdbcType="BIGINT" property="studentId" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="college" jdbcType="VARCHAR" property="college" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="habit" jdbcType="VARCHAR" property="habit" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, student_id, id_card, college, major, habit, remark
  </sql>
</mapper>