<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fhf.acticity_manage.mapper.PublishedActivityMapper">
  <resultMap id="BaseResultMap" type="com.fhf.acticity_manage.model.entity.PublishedActivity">
    <!--@mbg.generated-->
    <!--@Table published_activity-->
    <id column="publish_id" jdbcType="BIGINT" property="publishId" />
    <result column="publisher" jdbcType="BIGINT" property="publisher" />
    <result column="charge_by" jdbcType="BIGINT" property="chargeBy" />
    <result column="start_time" jdbcType="DATE" property="startTime" />
    <result column="endTime" jdbcType="DATE" property="endtime" />
    <result column="apply_end_time" jdbcType="DATE" property="applyEndTime" />
    <result column="signup_number" jdbcType="INTEGER" property="signupNumber" />
    <result column="plan_number" jdbcType="INTEGER" property="planNumber" />
    <result column="qq_group" jdbcType="VARCHAR" property="qqGroup" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    publish_id, publisher, charge_by, start_time, endTime, apply_end_time, signup_number, 
    plan_number, qq_group, note
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from published_activity
    where publish_id = #{publishId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from published_activity
    where publish_id = #{publishId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="publish_id" keyProperty="publishId" parameterType="com.fhf.acticity_manage.model.entity.PublishedActivity" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into published_activity (publisher, charge_by, start_time, 
      endTime, apply_end_time, signup_number, 
      plan_number, qq_group, note
      )
    values (#{publisher,jdbcType=BIGINT}, #{chargeBy,jdbcType=BIGINT}, #{startTime,jdbcType=DATE}, 
      #{endtime,jdbcType=DATE}, #{applyEndTime,jdbcType=DATE}, #{signupNumber,jdbcType=INTEGER}, 
      #{planNumber,jdbcType=INTEGER}, #{qqGroup,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="publish_id" keyProperty="publishId" parameterType="com.fhf.acticity_manage.model.entity.PublishedActivity" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into published_activity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="publisher != null">
        publisher,
      </if>
      <if test="chargeBy != null">
        charge_by,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endtime != null">
        endTime,
      </if>
      <if test="applyEndTime != null">
        apply_end_time,
      </if>
      <if test="signupNumber != null">
        signup_number,
      </if>
      <if test="planNumber != null">
        plan_number,
      </if>
      <if test="qqGroup != null">
        qq_group,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="publisher != null">
        #{publisher,jdbcType=BIGINT},
      </if>
      <if test="chargeBy != null">
        #{chargeBy,jdbcType=BIGINT},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=DATE},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=DATE},
      </if>
      <if test="applyEndTime != null">
        #{applyEndTime,jdbcType=DATE},
      </if>
      <if test="signupNumber != null">
        #{signupNumber,jdbcType=INTEGER},
      </if>
      <if test="planNumber != null">
        #{planNumber,jdbcType=INTEGER},
      </if>
      <if test="qqGroup != null">
        #{qqGroup,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fhf.acticity_manage.model.entity.PublishedActivity">
    <!--@mbg.generated-->
    update published_activity
    <set>
      <if test="publisher != null">
        publisher = #{publisher,jdbcType=BIGINT},
      </if>
      <if test="chargeBy != null">
        charge_by = #{chargeBy,jdbcType=BIGINT},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=DATE},
      </if>
      <if test="endtime != null">
        endTime = #{endtime,jdbcType=DATE},
      </if>
      <if test="applyEndTime != null">
        apply_end_time = #{applyEndTime,jdbcType=DATE},
      </if>
      <if test="signupNumber != null">
        signup_number = #{signupNumber,jdbcType=INTEGER},
      </if>
      <if test="planNumber != null">
        plan_number = #{planNumber,jdbcType=INTEGER},
      </if>
      <if test="qqGroup != null">
        qq_group = #{qqGroup,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where publish_id = #{publishId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fhf.acticity_manage.model.entity.PublishedActivity">
    <!--@mbg.generated-->
    update published_activity
    set publisher = #{publisher,jdbcType=BIGINT},
      charge_by = #{chargeBy,jdbcType=BIGINT},
      start_time = #{startTime,jdbcType=DATE},
      endTime = #{endtime,jdbcType=DATE},
      apply_end_time = #{applyEndTime,jdbcType=DATE},
      signup_number = #{signupNumber,jdbcType=INTEGER},
      plan_number = #{planNumber,jdbcType=INTEGER},
      qq_group = #{qqGroup,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR}
    where publish_id = #{publishId,jdbcType=BIGINT}
  </update>
</mapper>